* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: #f0f0f0; /* TO-DO: replace with design system enum*/
  font-family: Rajdhani-Regular;
}
html {
  background: #1e1e1e;
}

a {
  color: inherit;
  text-decoration: none;
}

@font-face {
  font-family: 'Rajdhani-Bold';
  src: url('/fonts/Rajdhani/Rajdhani-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Rajdhani-Light';
  src: url('/fonts/Rajdhani/Rajdhani-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Rajdhani-Medium';
  src: url('/fonts/Rajdhani/Rajdhani-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'Rajdhani-Regular';
  src: url('/fonts/Rajdhani/Rajdhani-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Rajdhani-SemiBold';
  src: url('/fonts/Rajdhani/Rajdhani-SemiBold.ttf') format('truetype');
}
